# Project files

/couchdb-conflict-remover.sublime-workspace

# Results directory

/results

# Scripts

/scripts/setup-environment.sh

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class
